@import url("https://unpkg.com/xp.css");

body{
  margin: 0;
  padding: 0; 
  background-image: url('//pranx.com/images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat; 
  background-attachment: fixed;
}


.start-menu-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px; 
  background: linear-gradient(to bottom, #0046a3, #0078d7); /* Windows XP-like gradient */
  border-top: 2px solid #013e8e; 
  box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.3); 
  display: flex;
  align-items: center;
}

.right-taskbar {
  position: fixed;
  bottom: 0;
  right: 0;
  background: linear-gradient(to top,#058ce5, #15a0fb);
  height: 30px;
  width: 10%;
  display: flex;
  border-top: 2px solid #013e8e;
  border-left: 2px solid #013e8e;
  box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.3); 
  justify-content: center;
  color: white;
}

.clock {
  text-align: center;
  transform: translateY(22%);
  font-size: 1.3em;
  text-emphasis-style: bold;
}

.content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  justify-items: center;
}

#listing_window {
  margin-bottom: 7em;
}

#title_window {
  width: 20%;
}

.icon-container {
  margin-top: 10px;
  margin-left: 10px;
}

.app-icon {
  width: 60px;
}

.icon-text {
  margin-left: 10px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

.comment-container {
  border: solid, 2px, gray;
  padding-top: 0.5em;
  padding-bottom: 0.5;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 10px;
}

#comment-delete {
  margin-bottom: 3px;
}

.comment-box {
  margin: 1em;
  width: 25em;
  height: 7em;
  border: solid, 1px;
}

.my-listing {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  border:solid, 2px;
  padding: 10px;
}